<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('admin') }}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin_users') }}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin_workout_plans') }}">Workout Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin_diet_plans') }}">Diet Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <h1>Admin Workout Plans</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Workout Plan</th>
            <th>Exercises</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            {% for workout in user.workouts %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ workout.exercise }}</td>
                <td>{{ workout.sets }} sets, {{ workout.reps }} reps, {{ workout.rest_time }} rest time</td>
              </tr>
        </tbody>
      </table>
  </div>
</body>
</html>