<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  
  <body>
    
    <h1>Register</h1>

<!-- register.html -->

<form action="" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <label for="confirm_password">Confirm Password:</label>
  <input type="password" id="confirm_password" name="confirm_password"><br><br>
  {% if error %}
      <p style="color: red;">{{ error }}</p>
  {% endif %}
  <input type="submit" value="Register">
</form>
  </body>
</html>